  #bg-img {
    background-image: url("././img/scsc.png");
  }
  #title-img{
    height: 100px;
  }
  #title{
    float:left;
    clear:none;
  }
  #modes form{
    clear: both;
  }
  .bg {
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    float: left;
    position: relative;
  }
  canvas {
    width: 300px;
    height: 300px;
    border: 1px solid black; 
    image-rendering: pixelated;
  }
  #identity-image-overlay,
  #changed-image-overlay  {
    position: absolute;
    top: 0;
    image-rendering: crisp-edges;
  }
  #pixel{
    width: 94px;
    height: 90px;
    border: 1px solid black;
  }
  #button-contain{
    position: absolute;
    top: 120px;
    right: 0;
  }
  #buttons {
    width: 100px;
    height: 390px;
    background-image: url("././img/wiggle-bg0.jpg");
    overflow-x: hidden;
  }
  .prev-filter{
    width: 70px;
    height: 60px;
    margin-left: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    background-color: black;
    font-family: monospace;
    font-size: 10px;
    color: chartreuse;
  }
  .matrixbox input{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    font-family: monospace;
    color: chartreuse;
    text-shadow: 1px 1px dimgray;
    float: left;
  }
  .matrixbox {
    margin-left: 30px;
    margin-top: 120px;
  }
  .matrixbox input:hover{
    background-color: midnightblue;
  }
  .matrixboxholder {
    float: left;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 8px;
  }
  .input-txt{
    position: absolute;
    font-size: 9px;
    background-color: black;
    font-family: monospace;
    color: chartreuse;
    text-shadow: 1px 1px dimgray;
    margin-top:2px;
    margin-left:2px;
  }
  #actions{
    display: inline-flex;
    margin-left: 3px;
  }
  .action{
    width: 100px;
    height: 100px;
  }
  .action:hover{
    background-image: url('././img/wiggle-bg0.jpg');
  }
  #canv-contain {
    display: inline-block;
    float: left;
  }
  .symbol-img{
    height: 60px;
    position: absolute;
    margin-top: -30px; 
    margin-left: -20px;
  }
  #choose-img{
    float: left;
    clear: both;
    width: 300px;
    height: 100px;
    background-color: linen;
    overflow-x: hidden;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
  }
  #choose-img img{
    width: 90px;
  }
  .integer-action{
    width: 60px; 
    height: 40px; 
    font-size: 40px; 
    float: right;
  }
  .integer-action-img{
    float: left; 
    margin-top: 15px; 
    margin-left: -45px; 
    height: 20px;
  }
  .tiny-color{
    width: 22px;
    height: 22px;
    float: left;
    background-color: linen;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  /*
  #threexthree{
    margin-left: -16px; 
    margin-top: -20px; 
  }
  #threexthree div{
    width: 50px;
    height: 50px;
    border: 0.25px solid black; 
    float: left;
  }
  */